Options +Indexes

IndexOptions FancyIndexing FoldersFirst NameWidth=* DescriptionWidth=*

# SET DISPLAY ORDER
IndexOrderDefault Descending Name

# SPECIFY HEADER FILE
HeaderName header.html
 
# SPECIFY FOOTER FILE
ReadmeName footer.html

# IGNORE THESE FILES
IndexIgnore header.html footer.html icons favicon.ico .htaccess .ftpquota .DS_Store icons *.log *,v *,t .??* *~ *#

# DEFAULT ICON
DefaultIcon icons/generic.gif
AddIcon icons/purple.gif ^^BLANKICON^^
AddIcon icons/grey.gif ^^DIRECTORY^^


# SPECIFIC FILE ICONS
AddIcon icons/blue.gif .txt .pdf .zip .rar .jpg .jpeg .jpe .png .gif .mpg .ico .js .log .doc .css .html
AddIcon icons/red.gif readme
AddIcon (MP3,icons/arrow.gif) .mp3


AddDescription "MPEG Layer 3 Format" .mp3
AddDescription "GZIP compressed TAR archive" .tgz .tar.gz
AddDescription "GZIP compressed archive" .Z .z .gz .zip


# FOLDER DESCRIPTIONS
AddDescription "[<span class='description'>Pink Floyd Images</span>]" Images
AddDescription "[<span class='description'>Pink Floyd Lyrics</span>]" Lyrics
AddDescription "[<span class='description'>Pink Floyd Notes</span>]" Notes


# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>